# Dependencies
node_modules/
/.pnp
.pnp.js

# History folder
.history/
history/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db

# Build files
dist/
build/
coverage/

# Misc
.cache/
*.tgz
.yarn-integrity

# Local Netlify folder
.netlify

# Yarn v2
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.* 